*{
	padding: 0;
	margin: 0;
  box-sizing: border-box;
}

@font-face {
  src: url('fonts/Montserrat/Montserrat-Regular.ttf');
  font-family: 'Montserrat';
}

@font-face {  
  src: url('fonts/Bebas_Neue/BebasNeue-Regular.ttf');
  font-family: 'Bebas Neue';
}

:root {

  --ff-prim: 'Montserrat';
  --ff-second:'Bebas Neue';
  --ff-coment: 'Roboto Mono', monospace;

  --fs-small: 16px;
  --fs-medium: 16px;
  --fs-big: 16px;

  --clr-light: #FFFCE8;
  --clr-soft: grey;
  --clr-dark: #0D181F;
  
  --clr-dg: #2A423C;
  --clr-lg: #C0D904;
  --clr-bg: #6ABDA9;
  --clr-dbg: #4DAAAB;

  --clr-p: #EF44F2;
  --clr-v: #3E2EA6;
  --clr-dv: #1D1A73;
  --clr-db: #4A88D9;
  --clr-lb: #72F2F2;

  --clr-db: #025E73;
  --clr-lb: #0396A6;
  --clr-llb: #04C4D9;
  --clr-do: #F25C05;
  --clr-lo: #F27405;

  --clr-db: #599DD9;
  --clr-lb: #6DDAF2;
  --clr-lo: #F29F05;
  --clr-do: #F27405;
  --clr-sdo: #D93D04;

}

body {
  font-family: var(--ff-prim);
  background-color: #efefef;
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-family: var(--ff-second);
  font-size: 3rem;
 
}

h2, h3 {
  text-transform: capitalize;

}

/*______________________________________*/


/*NAV BAR*/

.nav-bar{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100vw;
  height: 70px;

  font-family: var(--ff-prim);
  font-size: 1rem;

  background-color: white;
}

.brand {
  color: var(--clr-db);
  font-family: var(--ff-second);
  font-size: 2rem;
  padding: 0.5em 1em;

  line-height: 38px;
  text-transform: uppercase;
}

.tgl-btn {
  position: absolute;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

  padding: 1.2rem;
  margin: 0;
  right: 0;
  top: 0;

  width: 70px;
  height: 70px;
}

.bar {
  width: 100%;
  height: 0.25rem;

  background-color:  var(--clr-db);
}

.tgl-btn:focus{
  outline: none;
}

.tgl-btn:hover .bar, .tgl-btn:focus .bar {
  background-color:  var(--clr-lb);
}

.nav-links {
  width: 100%;

  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 300ms ease-in-out,
              opacity 300ms ease-in-out
  ;
  z-index: 100;
}

.nav-links ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  padding: 1em;

  background-color: rgb(233, 233, 233);
}

.menu-btn {
  color: var(--clr-db);
  font-family: var(--ff-second);
  font-size: 1.5rem;
  padding: 0.5em 1em;

  line-height: 70px;
  text-transform: uppercase;

  position: relative;
}

.menu-btn::before {
  content: '';
  position: absolute;

  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.12em;

  background-color: var(--clr-db);
  transform: scaleX(0);
  transition: background-color 200ms ease-out,
              transform 200ms ease-out
  ;
}


.menu-btn:hover, .menu-btn:focus {
  color: var(--clr-lb);
  outline: none;
}

.menu-btn:hover::before, .menu-btn:focus::before {
  background-color: var(--clr-lb);
  transform: scaleX(1);
  outline: none; 
}

@media (min-width: 800px) {

  .nav-bar{
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    height: 80px;
  }
  
  .brand {
    line-height: 50px;
    min-width: max-content;
  }
  
  .tgl-btn {
    display: none;
  }
  
  .nav-links {
    opacity: 1;
    transform: scaleY(1);
  }
  
  .nav-links ul {
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  
    padding: 0 1em;
  
    background-color: white;
  }

}



/*______________________________________*/


/*HEADER*/

.head {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: calc(100vh - 70px);
  min-height: 400px;

  background-image: url('images/abstract2.jpg');
  background-size: cover;
  background-position: center;
}

.head-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

  padding: 0.5rem;

  position: relative;

  z-index: 1;
}

.led-light-one, .led-light-two {
  content: '';
  position: absolute;

  top: -0.5em;
  bottom: -0.5em;
  left: 3em;
  
  width: 3em;
  background: linear-gradient(var(--clr-lo), var(--clr-lb));
  border-radius: 0.2em;
  transform: skew(20deg);

  z-index: -2;
}

.led-light-one::before, .led-light-one::after {
  content: '';
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  
  width: 100%;
  background: linear-gradient(var(--clr-lo), var(--clr-lb));
  border-radius: 0.2em;

  filter: blur( 1em);
  mix-blend-mode: screen;

  z-index: -1;
}

.led-light-one::before {
  z-index: -1;
  filter: blur( 3em);
  mix-blend-mode: screen;
}

.led-light-two {
  left: 6.5em;
  width: 1em;
}

.led-light-two::before, .led-light-two::after {
  content: '';
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  
  width: 100%;
  background: linear-gradient(var(--clr-lo), var(--clr-lb));
  border-radius: 0.2em;

  filter: blur( 1em);
  mix-blend-mode: screen;

  z-index: -1;
}

.led-light-two::before {
  z-index: -1;
  filter: blur( 3em);
  mix-blend-mode: screen;
}

.led-light-one::before, .led-light-two::before {
  animation: 2s linear 1s infinite alternate light;
}

@keyframes light {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.4;
  }
}

.head-card {
  flex: 0 1 200px;

  padding: 1.2rem;
  margin: 1rem 0;
  max-width: 700px;

  
  border: .25rem solid transparent;
  border-radius: 0.4em;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2) 60%),
              linear-gradient(-45deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2) 40%)
  ;
  background-clip: padding-box;

  backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);

  position: relative;
}

.head-title {
  width: max-content;
  font-size: 2rem;
  
  position: relative;
}

.head-title::before, .head-title::after {
  content: '';
  position: absolute;

  left: -1.2rem;
  bottom: 0;

  width: calc(100% + 1.2rem);
  height: 0.1em;

  background-color: var(--clr-lb);
}

.head-title::before {
  filter: blur(0.1em);
}

.head-text {
  font-size: 1.2rem;
  padding-top: 1em;
  line-height: 1.5em; 
}

.btn-items{
  display: flex;

  position: relative;
  
  z-index: 1;
}

.head-btn {
  color: black;
  padding: 0.5em 1.3em;
  font-size: 1.5rem;
  font-family: var(--ff-second);
  text-transform: uppercase;
  letter-spacing: 0.2em;

  border: 2px solid transparent;
  border-radius: 0.4rem;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2) 70%),
              linear-gradient(-45deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2) 40%)
  ;
  background-clip: padding-box;

  backdrop-filter: blur(15px);
  -moz-backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  -o-backdrop-filter: blur(15px);
  -ms-backdrop-filter: blur(15px);

  z-index: 2;
}

.btn-led-one, .btn-led-two {
  content: '';
  position: absolute;

  top: 5px;
  bottom: 5px;
  
  width: 6px;
  
  background-color: var(--clr-lo);
  border-radius: 0.2em;
  transition: width 200ms ease-in;

  z-index: -3;
}

.btn-led-one {
  left: -3px;
  transform-origin: left;
}

.btn-led-two {
  right: -3px;
  transform-origin: right;
}

.btn-led-one::before, 
.btn-led-one::after, 
.btn-led-two::before, 
.btn-led-two::after {
  content: '';
  position: absolute;

  top: 0;
  bottom: 0;
  
  width: 100%;
  background-color: var(--clr-lo);

  filter: blur(.7em);
  mix-blend-mode: screen;
  z-index: -2;
}

.btn-led-one::before, .btn-led-one::after {
  left: 0;
}

.btn-led-two::before, .btn-led-two::after {
  right: 0;
}

.btn-led-one::after,
.btn-led-two::after {
  filter: blur(.3em);
  z-index: -1;
}

.btn-items:hover .btn-led-one,
 .btn-items:hover .btn-led-two,
 .btn-items:focus .btn-led-one,
 .btn-items:focus .btn-led-two {
  width: calc(100% - 10px);
}

/*______________________________________*/


/*SECTION ABOUT ME*/

.about-me {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

  background-image: url('images/abstract1.jpg');
  background-size: cover;
  background-position: center;
}

.about-title-items {
  display: flex;

  margin: 0.5rem auto;

  position: relative;
  z-index: 1;
}

.about-title {
  padding: 0.4em 1.3em;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  border: 3px solid transparent;
  border-radius: 0.4rem;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2) 70%),
              linear-gradient(-45deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2) 40%)
  ;
  background-clip: padding-box;

  backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -o-backdrop-filter: blur(20px);
  -ms-backdrop-filter: blur(20px);

  z-index: 2;
}

.about-title-led-one, .about-title-led-two {
  content: '';
  position: absolute;

  top: 7px;
  bottom: 7px;
  
  width: 20px;
  
  background-color: var(--clr-lo);
  border-radius: 0.2em;
  transition: width 200ms ease-in;

  z-index: -3;
}

.about-title-led-one {
  left: -7px;
} 

.about-title-led-one::before, .about-title-led-one::after {
  content: '';
  position: absolute;

  height: 100%;
  width: 100%;

  border-radius: 3px;
  mix-blend-mode: screen;
  background-color: var(--clr-lo);

  filter: blur(10px);

  z-index: -2;
}

.about-title-led-one::after {
  filter: blur(4px);
  z-index: -1;
}

.about-title-led-two {
  right: -7px;
} 

.about-title-led-two::before, .about-title-led-two::after {
  content: '';
  position: absolute;

  height: 100%;
  width: 100%;

  border-radius: 3px;
  mix-blend-mode: screen;
  background-color: var(--clr-lo);

  filter: blur(10px);

  z-index: -2;
}

.about-title-led-two::after {
  filter: blur(4px);
  z-index: -1;
}

.about-container {
  display: flex;
  font-family: var(--ff-second);
  font-size: 1.6rem;

  margin: 3rem auto;
}

.my-skills {
  min-width: 250px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.my-skill-dev, .my-skill-design {
  min-width: 100%;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0.5rem;
  

  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.4rem;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4) 70%);
  background-clip: padding-box;

  backdrop-filter: blur(15px);
  -moz-backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  -o-backdrop-filter: blur(15px);
  -ms-backdrop-filter: blur(15px);
}

.my-skill-dev {
  margin: 0 auto 1rem auto;
}

.my-skill-design {
  margin: 1rem auto 0 auto;
}

.htm, .css, .js, .psd, .ail {
  width: 100%;
  padding: 0.3em 0.7em;

  border: 2px solid transparent;
  border-radius: 0.4rem;
 
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3) 70%),
              linear-gradient(-45deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3) 20%)
  ;
  background-clip: padding-box;

  transform: scale(0.9);
  transition: transform 200ms ease-in;

  position: relative;

  z-index: 1;
}

.htm:hover, 
.css:hover, 
.js:hover, 
.psd:hover, 
.ail:hover {
  transform: scale(1);
}

.htm::before, 
.css::before, 
.js::before, 
.psd::before, 
.ail::before,
.htm::after, 
.css::after, 
.js::after, 
.psd::after, 
.ail::after {
  content: '';
  position: absolute;

  top: 5px;
  bottom: 5px;
  right: 5px;

  width: 3px;
  border-radius: 0.4rem;
  
  filter: blur(4px);

  z-index: -2;
}

.htm::after, 
.css::after, 
.js::after, 
.psd::after, 
.ail::after {
  filter: blur(1px);
  
  z-index: -1;
}

.htm::before,
.htm::after {
  background-color: rgb(241, 61, 30);
}

.css::before,
.css::after {
  background-color: rgb(30, 164, 241);
}

.js::before, 
.js::after {
  background-color: rgb(178, 219, 31);
}

.psd::before, 
.psd::after {
  background-color: rgb(30, 164, 241);
}

.ail::before, 
.ail::after {
  background-color: rgb(255, 119, 29)
}


/*______________________________________*/


/*SECTION MY SERVICES*/

.services {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

  background-image: url('images/abstract3.jpg');
  background-size: cover;
  background-position: center;
}

.services-title-items {
  display: flex;

  margin: 0.5rem auto;

  position: relative;
  z-index: 1;
}

.services-title {
  padding: 0.4em 1em;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  border: 3px solid transparent;
  border-radius: 0.4rem;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2) 70%),
              linear-gradient(-45deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2) 40%)
  ;
  background-clip: padding-box;

  backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -o-backdrop-filter: blur(20px);
  -ms-backdrop-filter: blur(20px);

  z-index: 2;
}

.services-title-led-one, 
.services-title-led-two {
  content: '';
  position: absolute;

  top: 7px;
  bottom: 7px;
  
  width: 20px;
  
  background-color: var(--clr-lb);
  border-radius: 0.2em;
  transition: width 200ms ease-in;

  z-index: -3;
}

.services-title-led-one {
  left: -7px;
} 

.services-title-led-one::before, 
.services-title-led-one::after {
  content: '';
  position: absolute;

  height: 100%;
  width: 100%;

  border-radius: 3px;
  mix-blend-mode: screen;
  background-color: var(--clr-lb);

  filter: blur(10px);

  z-index: -2;
}

.services-title-led-one::after {
  filter: blur(4px);
  z-index: -1;
}

.services-title-led-two {
  right: -7px;
}

.services-title-led-two::before, .services-title-led-two::after {
  content: '';
  position: absolute;

  height: 100%;
  width: 100%;

  border-radius: 3px;
  mix-blend-mode: screen;
  background-color: var(--clr-lb);

  filter: blur(10px);

  z-index: -2;
}

.services-title-led-two::after {
  filter: blur(4px);
  z-index: -1;
}

.cards {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  padding: 0.5rem;

 /* border: 3px solid transparent;
  border-radius: 0.4rem;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2) 70%),
              linear-gradient(-45deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2) 40%)
  ;
  background-clip: padding-box;

  backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);*/
}

.card-back-led {

}

.card {
  width: 200px;
  height: 300px;

  padding: 0.5rem;
  margin: 1rem 0;

  border: 3px solid transparent;
  border-radius: 0.4rem;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2) 70%),
              linear-gradient(-45deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2) 40%)
  ;
  background-clip: padding-box;

  backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  -o-backdrop-filter: blur(20px);
  -ms-backdrop-filter: blur(20px);

  transition: transform 200ms ease-out;

  position: relative;
}

.card:hover {
  transform: scale(1.1);
}

.card-container {
  position: absolute;
  bottom: 10%;
}

.card-title {
  
}

.content {
  margin: 1em 0;
}

.card-btn {
  color: black;
  padding: .5em .7em;
  border-radius: .2em;
  background-color: var(--clr-do);

  transition: background-color 100ms ease-out;
}

.card-btn:hover, 
.card-btn:focus {
  background-color: var(--clr-lo);
}

.card-btn:focus {
  outline: 1px solid  var(--clr-lb);
}

/*______________________________________*/


/*SECTION MY PROJECTS*/

/*______________________________________*/

/*FOOTER*/

/*______________________________________*/
